@import '../../node_modules/bootstrap/less/bootstrap.less'; // Twitter Bootstrap
@import 'vendor/lesshat.less';


// fonts

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

.lato() {
  font-family: 'Lato', sans-serif;
}

.lato-light() {
  .lato;
  font-weight: 300;
}

.lato-normal() {
  .lato;
  font-weight: 400;
}

.lato-bold() {
  .lato;
  font-weight: 700;
}


// basic layout

.social-icons {
  .clearfix();
  list-style: none;
  border: 5px solid #fff;
  display: table;
  margin: 0 auto;
  padding: 15px 15px 6px;

  li {
    float: left;

    & + li {
      margin-left: 1.6rem;
    }

    a {
      .opacity(0.7);
      .transition(opacity 0.2s ease);

      &:hover,
      &:active {
        .opacity(1);
      }
    }
  }
}


// SVG icons

svg {
  display: block !important;
}

.icon {
  display: inline-block;
  .square(30);
  fill: #fff;
}

.icon-facebook {
  .square(36);
  margin-top: -3px;
}

.icon-twitter {
  .square(38);
  margin-top: -4px;
}

.icon-google-plus {
  .square(32);
}

.icon-github {
  .square(32);
  margin-top: -1px;
}

.icon-npm {
  width: 45px;
  height: 30px;
}


// general styles

body {
  .lato-light;
  background-color: #444;
  color: #48a770;
}

a {
  text-decoration: none;
  color: #48a770;
  outline: none;

  &:hover,
  &:focus {
    color: #2c774b;
    outline: none;
  }
}

p {
  margin: 0 0 2.2rem;
}


// article header

header {
  margin: 0 auto 4.8rem;
  padding: 4.8rem;
  text-align: center;

  h1 {
    .lato-light;
    margin: 0;
    font-size: 4.2rem;
    line-height: 1.3;
  }

  span {
    display: block;
    padding: 0 0 1rem 0.2rem;
    font-size: 60%;
    color: #aca89a;
  }
}

/* top bar */

.top {
  .clearfix;
  .lato-normal;
  width: 100%;
  font-size: 1.1rem;
  line-height: 2.2;
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;

  a:hover,
  a:active {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
  }
}

.main {
  max-width: 110rem;
  margin: 0 auto;
}

button {
  .lato-normal;
  .border-radius(2px);
  border: none;
  padding: 1rem 2rem;
  background-color: #388a5a;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;

  &:hover,
  &:active {
    background-color: #2c774b;
  }
}

.info {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 4.8em;
  clear: both;
  padding: 4.8rem 0;
  opacity: 0.7;
  color: #aca89a;

  a {
    .lato-bold;
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 25em) {
  header {
    font-size: 80%;
  }

  .top {
    font-size: 120%;
  }
}

html,
body,
main,
.pusher,
.content {
  height: 100%;
}

.content {
  overflow-y: scroll;
  background-color: #f3efe0;
}

.content,
.content-inner {
  position: relative;
}

main {
  position: relative;
  overflow: hidden;
}

.pusher {
  .transition(transform 0.5s);
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;

  &::after {
    .transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
  }
}

.menu-open {
  .menu {
    .transition(transform 0.5s);
    visibility: visible;

    &::after {
      .transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
      width: 0;
      height: 0;
      opacity: 0;
    }
  }

  .pusher {
    .transform(translate3d(300px, 0, 0));
    cursor: pointer;

    &::after {
      .transition(opacity 0.5s);
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }
}

.menu {
  .transition(all 0.5s);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #48a770;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 1.6rem;

      a {
        .box-shadow(inset 0 -1px rgba(0, 0, 0, 0.2));
        .transition(background 0.3s, box-shadow 0.3s);
        .lato-normal;
        display: block;
        padding: 1.6rem 1.8rem;
        outline: none;
        color: #f3efe0;
        text-transform: uppercase;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
        letter-spacing: 1px;
        line-height: 1.3;

        &:hover,
        &:active {
          .box-shadow(inset 0 -1px rgba(0, 0, 0, 0));
          background-color: rgba(0, 0, 0, 0.2);
          color: #fff;
          text-decoration: none;
        }
      }

      &:first-child a {
        .box-shadow(inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2));
      }
    }
  }

  h2 {
    .lato-light;
    margin: 0;
    padding: 1.6rem;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 3.2rem;
    line-height: 1.2;
  }
}

.hamburger {
  float: left;
  padding: 1rem;
  cursor: pointer;
}

/* fallback for browsers that don't support 3D transforms (no JS fallback) */

.no-csstransforms3d .pusher,
.no-js .pusher {
  padding-left: 300px;
}
