extends ../layout.jade


block title
  title Home | Troy Warr

block nav
  li
    a.selected(href="index.html") Home
  li
    a(href="blog/index.html") Blog
  li
    a(href="resume.html") Resume
  li
    a(href="about.html") About

block article
  h1 Home
