include ./mixins/shared.jade



doctype html
html(class="no-js" lang="en")

  head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Home | Troy Warr
    meta(name="description" content="Troy Warr's personal website.")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="styles/main.min.css")

  body

    | @@include('./icons/svg/symbols.svg')

    +ie('if lt IE 10')
      p(class="browsehappy") You are using an #[strong outdated] browser. Please #[a(href="http://browsehappy.com/" target="_blank") upgrade your browser] to improve your experience.

    h1 Troy Warr

    ul.social-icons
      li
        a(href="http://www.linkedin.com/in/troywarr" target="_blank")
          +icon('linked-in')
      li
        a(href="https://www.facebook.com/troy.warr.1" target="_blank")
          +icon('facebook')
      li
        a(href="https://twitter.com/TroyWarr" target="_blank")
          +icon('twitter')
      li
        a(href="https://plus.google.com/+TroyWarr1980" target="_blank")
          +icon('google-plus')
      li
        a(href="http://stackoverflow.com/users/167911/bungle" target="_blank")
          +icon('stack-overflow')
      li
        a(href="https://github.com/troywarr" target="_blank")
          +icon('github')
      li
        a(href="https://www.npmjs.org/~troywarr" target="_blank")
          +icon('npm')

    script(src="scripts/main.min.js")
